schemas/sapling/events.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

include "shared.rnc"


# Root Element #
start |= events

# Elements #

events = element events { 
	events.attlist, 
	(
		event.birth |
		event.christening |
		event.adoption |
		event.marriage |
		event.death |
		event.historical
	)*
}	

event.content-model =
	date?,
	preceded-by*,
	person-ref*,
	location-ref?,
	summary?
	
event.birth = element event { 
	event.birth.attlist, 
	date?,
	preceded-by*,
	person-ref*,
	parental-ref*,
	location-ref?,
	summary?
}

event.adoption = element event { 
	event.adoption.attlist, 
	date?,
	preceded-by*,
	person-ref*,
	parental-ref*,
	location-ref?,
	summary?
}

event.christening = element event { 
	event.christening.attlist, 
	event.content-model
}

event.marriage = element event { 
	event.marriage.attlist, 
	event.content-model
}

event.death = element event { 
	event.death.attlist, 
	event.content-model
}

event.historical = element event { 
	event.historical.attlist, 
	date?,
	preceded-by*,
	location-ref*,
	summary?
}

parental-ref = element parent {
	parental-ref.attlist,
	empty
}

preceded-by = element preceded-by {
	event-ref.attlist,
	empty
}



# Attributes #

events.attlist = 
	xml.attlist
	
event.attlist =
	xml.attlist,
    attribute id { xsd:ID }
    
event.birth.attlist =
	event.attlist,
    attribute type {"birth"}

event.adoption.attlist =
	event.attlist,
    attribute type {"adoption"}

event.christening.attlist =
	event.attlist,
    attribute type {"christening"}
    
event.marriage.attlist =
	event.attlist,
    attribute type {"marriage"}
    
event.death.attlist =
	event.attlist,
    attribute type {"death"}
    
event.historical.attlist =
	event.attlist,
    attribute type {"historical"}
    
parental-ref.attlist = 
	person-ref.attlist,
	attribute type {
		"biological" |
		"adoptive" |
		"surrogate"
	}?
