schemas/sapling/sources.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

include "shared.rnc" {

    shared.body.content-model =
        (
             (
                shared.body-matter.heading,
                shared.body-matter.subheading?
             )? &
             (
                shared.body-matter.content-model* &
                shared.body-matter.section* & 
                shared.body-matter.poem* &
                shared.body-matter.table* &
                shared.body-matter.quote-block*
         	)
    	)*
    	
    shared.entity-ref =
       	shared.entity-ref.person | 
       	shared.entity-ref.event | 
       	shared.entity-ref.location | 
       	shared.entity-ref.organisation |
       	shared.entity-ref.source |
        shared.entity-ref.note
        
    shared.body.attlist =
        xml.attlist,
        attribute length { 
            "micro" |
            "short" |
            "medium" |
            "long"
        }
        
}

start |= (
    source.collection |
    source.serial.collection |
    source.entity 
)



# Elements #
	
source.collection = element sources { 
	source.collection.attlist, 
	source.collection.content-model
}

source.body-matter = element body-matter {
	source.body-matter.attlist,
	source.body-matter.content-model
}

source.body-matter.chapter = element chapter {
	source.body-matter.chapter.attlist,
	source.body-matter.chapter.content-model
}

source.body-matter.extract = element extract {
	source.body-matter.extract.attlist,
	source.body-matter.extract.content-model
}

source.body-matter.extract.summary = element summary {
    shared.summary.attlist,
    shared.summary.content-model
}

source.end-matter = element end-matter {
	source.end-matter.attlist,
	source.end-matter.content-model
}

source.end-matter.bibliography = element bibliography {
	source.end-matter.bibliography.attlist,
	source.end-matter.bibliography.content-model
}

source.end-matter.citation = element citation {
	source.end-matter.citation.attlist,
	source.end-matter.citation.content-model
}

source.end-matter.note = element note {
	source.end-matter.note.attlist,
	source.end-matter.note.content-model
}

source.end-matter.note.label = element label {
	source.end-matter.note.label.attlist,
	source.end-matter.note.label.content-model
}

source.end-matter.notes = element notes {
	source.end-matter.notes.attlist,
	source.end-matter.notes.content-model
}

source.entity = element source { 
	source.entity.attlist, 
	source.entity.content-model
}

source.entity-ref.serial = element serial {
	source.entity-ref.serial.attlist,
	source.entity-ref.serial.content-model
}

source.front-matter = element front-matter {
	source.front-matter.attlist,
	source.front-matter.content-model
}

source.front-matter.acknowledgements = element acknowledgements {
	source.front-matter.acknowledgements.attlist,
	source.front-matter.acknowledgements.content-model
}

source.front-matter.contributor =
    source.front-matter.contributor.author |
    source.front-matter.contributor.editor

source.front-matter.contributor.author = element author {
	source.front-matter.contributor.attlist,
	source.front-matter.contributor.content-model
}

source.front-matter.contributor.editor = element editor {
	source.front-matter.contributor.attlist,
	source.front-matter.contributor.content-model
}

source.front-matter.contributor.organisation = element organisation {
    xml.attlist,
    source.front-matter.contributor.organisation.content-model
}

source.front-matter.date = element date {
	source.front-matter.date.attlist,
	source.front-matter.date.content-model
}

source.front-matter.isbn = element isbn {
	text*
}

source.front-matter.link = element link {
    source.front-matter.link.attlist,
    source.front-matter.link.content-model
}   

source.front-matter.map.scale = element scale {
	source.front-matter.map.scale.attlist,
	source.front-matter.map.scale.content-model
}

source.front-matter.map.sheet = element sheet {
	source.front-matter.map.sheet.attlist,
	source.front-matter.map.sheet.content-model
}

source.front-matter.serial.issue = element issue {
    source.front-matter.serial.issue.attlist,
    source.front-matter.serial.issue.content-model
}

source.front-matter.serial.issn = element issn {
    source.front-matter.serial.issn.attlist, 
    source.front-matter.serial.issn.content-model
} 

source.front-matter.non-serial.map = element map {
	source.front-matter.non-serial.map.attlist,
	source.front-matter.non-serial.map.content-model
}

source.front-matter.pages = element pages {
	source.front-matter.pages.attlist,
	source.front-matter.pages.content-model
}

source.front-matter.publisher = element publisher {
	source.front-matter.publisher.attlist,
	source.front-matter.publisher.content-model
}

source.front-matter.publisher.location = element location {
	text*
}

# Dereferenced serial element #
source.front-matter.serial = element serial {
	source.front-matter.serial.attlist,
	source.front-matter.serial.content-model
}

source.front-matter.serial.part = element part {
    source.front-matter.serial.part.attlist,
    source.front-matter.serial.part.content-model
}

source.front-matter.series = element series {
	source.front-matter.series.attlist,
	source.front-matter.series.content-model
}

source.front-matter.series.title = element title {
	source.front-matter.series.title.attlist,
	source.front-matter.series.title.content-model
}

source.front-matter.subtitle = element subtitle {
    source.front-matter.title.attlist,
    source.front-matter.title.content-model
}

source.front-matter.title = element title {
    source.front-matter.title.attlist,
    source.front-matter.title.content-model
}

source.front-matter.serial.volume = element volume {
	source.front-matter.serial.volume.attlist,
	source.front-matter.serial.volume.content-model
}

source.reference = element reference {
    source.reference.attlist,
    source.reference.content-model
}

source.reference.contributors = element contributors {
    source.reference.contributors.attlist,
    source.reference.contributors.content-model
}

source.reference.title = element title {
    source.reference.title.content-model
}

source.reference.titles = element titles {
    source.reference.titles.attlist,
    source.reference.titles.content-model
}

source.serial.collection = element serials {
    source.serial.collection.attlist, 
	source.serial.collection.content-model
}

source.serial.entity = element serial { 
	source.serial.entity.attlist, 
	source.serial.entity.content-model
}



# Content Model #

source.front-matter.acknowledgements.content-model =
	shared.body-matter.paragraph*

source.end-matter.bibliography.content-model =
	source.end-matter.citation+	


source.body-matter.content-model =
    source.body-matter.extract.summary? |
	(
	   shared.body |
	   source.body-matter.chapter* |
	   source.body-matter.extract*
	)
        
source.body-matter.section.content-model =
	shared.body.content-model  

source.body-matter.chapter.content-model =
	shared.body-matter.heading,
    shared.body-matter.subheading?,
	shared.body,
	source.end-matter.notes?
	
source.collection.content-model =
	source.entity*

source.body-matter.extract.content-model =
	source.front-matter.pages?,
	source.front-matter.link?,
	(
	   shared.body |
	   source.body-matter.extract.summary
	)

source.end-matter.citation.content-model =
	 mixed { 
	   (
	       shared.body-matter.bold |
	       shared.body-matter.italic
	   )*
	}

source.end-matter.content-model =
	source.end-matter.notes?,
	source.end-matter.bibliography?

source.end-matter.note.content-model =
	source.end-matter.note.label,
	shared.body-matter.paragraph*
		
source.end-matter.note.label.content-model =
	text
	
source.end-matter.notes.content-model =
	source.end-matter.note*

source.entity.content-model =
    source.reference*,
	source.front-matter,
	source.body-matter?,
	source.end-matter?

source.entity-ref =
    shared.entity-ref.content-model |
	source.entity-ref.serial |
	shared.entity-ref.note    
    
source.entity-ref.serial.content-model =
    source.front-matter.serial.part.content-model

source.front-matter.titles.content-model =
    source.front-matter.title*,
	source.front-matter.subtitle?
	

source.front-matter.content-model =
    source.front-matter.titles.content-model,
	source.front-matter.series?,
	source.front-matter.contributors.content-model,
	(
	   source.front-matter.non-serial.map |
	   (
	       source.front-matter.publication.content-model?,
            (	
	           source.front-matter.serial |
                source.entity-ref.serial
              
            )?
        )?
    ),
    source.front-matter.isbn?,
	source.front-matter.link?,
	source.front-matter.acknowledgements*
	
source.front-matter.contributor.content-model =
	(
	   shared.person.name.full |
	   source.front-matter.contributor.organisation
	)
	
source.front-matter.contributors.content-model =
    source.front-matter.contributor*

source.front-matter.contributor.organisation.content-model =
    shared.name

source.front-matter.date.content-model =
	text?

source.front-matter.publication.content-model =
	source.front-matter.publisher? &
	source.front-matter.publisher.location? &
	source.front-matter.date*
	
source.front-matter.non-serial.map.content-model =
    source.front-matter.publication.content-model, 
    source.front-matter.serial.part.map.content-model
	
source.front-matter.map.scale.content-model =
	text*		
	
source.front-matter.map.sheet.content-model =
	text*	
		
source.front-matter.serial.issue.content-model =
	text
	
source.front-matter.link.content-model =
    source.front-matter.date?

source.front-matter.pages.content-model =
	text

source.front-matter.publisher.content-model =
	text

    
source.front-matter.serial.issn.content-model =
    text
	
source.front-matter.serial.part.content-model =
    (
        source.front-matter.serial.part.journal.content-model |
        source.front-matter.serial.part.map.content-model |
        source.front-matter.serial.part.newspaper.content-model
    )

source.front-matter.serial.part.journal.content-model =
    source.front-matter.serial.volume? &
    source.front-matter.serial.issue? &
    source.front-matter.date* &
    source.front-matter.pages?

source.front-matter.serial.part.map.content-model =
    source.front-matter.map.sheet? &
	source.front-matter.map.scale? &
	source.front-matter.date*
	
source.front-matter.serial.part.newspaper.content-model =
    source.front-matter.date? &
    source.front-matter.pages?	 

source.front-matter.series.title.content-model =
	text
	
source.front-matter.series.content-model =
	source.front-matter.series.title?,
	source.front-matter.serial.volume?

source.front-matter.title.content-model =
    text*

source.front-matter.serial.volume.content-model =
	text

source.reference.content-model =
    source.reference.contributors?,
    source.reference.titles,
    element series {
        source.reference.title?,
        source.front-matter.serial.volume?
    }?,
     element map {
        source.front-matter.map.scale?,
        source.reference.title?,
        source.front-matter.map.sheet?
    }?,
    element publication {
         (
            source.reference.title # Journal, Newspaper
            | (
                source.front-matter.publisher.location?,
                source.front-matter.publisher?
            )
         )?,
         (
             element issue {
                source.front-matter.serial.volume?,
                source.front-matter.serial.issue?,
                source.front-matter.date? # Journal, Newspaper
             }? |
             source.front-matter.date? # Map
         )?,
         source.front-matter.pages?
    }?
    

    
source.reference.contributors.content-model =
    source.front-matter.contributor*

source.reference.title.content-model =
        element small {
            text
        }? &
        source.front-matter.title.content-model 

source.reference.titles.content-model =
    source.reference.title?,
    source.front-matter.title?,
    source.front-matter.subtitle?
    

source.serial.collection.content-model =
    source.serial.entity*

# Serial entity definition (part not defined here). #
source.serial.entity.content-model =
        source.front-matter.contributor*,
        source.front-matter.title*,
        source.front-matter.publisher?,
        source.front-matter.publisher.location?,
        source.front-matter.map.scale?,
        source.front-matter.serial.issn?

# Dereferenced serial element content #
source.front-matter.serial.content-model =
    source.serial.entity.content-model,
    source.front-matter.serial.part?


# Attributes #

source.collection.attlist = 
	xml.attlist	

source.body-matter.body.attlist =
	xml.attlist

source.body-matter.attlist =
	xml.attlist,
	shared.publish.attlist

source.body-matter.chapter.attlist =
	xml.attlist,
	attribute sequence { xsd:integer }?,
    attribute publish { xsd:boolean }?

source.body-matter.extract.attlist =
	xml.attlist,
	attribute id { xsd:string }?

source.body-matter.heading.attlist =
	xml.attlist
	
source.body-matter.section.attlist =
	xml.attlist

source.end-matter.attlist =
	xml.attlist

source.end-matter.bibliography.attlist =
	xml.attlist
	
source.end-matter.citation.attlist =
	xml.attlist

source.end-matter.note.attlist =
	xml.attlist,
    attribute id { xsd:ID }

source.end-matter.note.label.attlist =
	xml.attlist

source.end-matter.notes.attlist =
	xml.attlist
	
source.entity.attlist =
	xml.attlist,
    attribute id { xsd:ID }

source.entity-ref.serial.attlist =
    shared.entity-ref.attlist
    
source.front-matter.attlist =
	xml.attlist

source.front-matter.acknowledgements.attlist =
	xml.attlist

source.front-matter.contributor.attlist =
	shared.entity-ref.attlist?

source.front-matter.date.attlist =
	shared.date.attlist,
	attribute rel { 
		"published" | 
		"revised" | 
		"retrieved" |
		"survey" |
		"issue"
	}
	
source.front-matter.link.attlist =
    shared.link.attlist

source.front-matter.non-serial.map.attlist =
    xml.attlist

source.front-matter.map.scale.attlist =
    xml.attlist,
    attribute ratio { xsd:string }
    
source.front-matter.map.sheet.attlist =
	xml.attlist

source.front-matter.pages.attlist =
	xml.attlist,
	attribute start { xsd:integer },
	attribute end { xsd:integer }
		
source.front-matter.publisher.attlist =
	xml.attlist

source.front-matter.serial.volume.attlist =
	xml.attlist,
	attribute number { xsd:decimal }?

source.front-matter.serial.attlist =
    xml.attlist,
    attribute type {source.reference.type.attlist}?
    
source.front-matter.serial.issue.attlist =
    xml.attlist

source.front-matter.serial.issn.attlist =
    xml.attlist

source.front-matter.serial.part.attlist =
    xml.attlist
	
source.front-matter.series.attlist =
	xml.attlist
	
source.front-matter.series.title.attlist =
	xml.attlist
	
source.front-matter.title.attlist =
	xml.attlist,
	attribute status { "inferred" }?
	
source.reference.attlist =
    xml.attlist,
    attribute type {
        "bibliographic"
    },
    attribute style {source.reference.type.attlist}
    
source.reference.type.attlist = (
        "journal" |
        "magazine" |
        "newspaper" |
        "map" |
        "death-certificate"
)
    
source.reference.contributors.attlist =
    xml.attlist
	
source.reference.titles.attlist =
    xml.attlist

source.reference.publication.attlist =
    xml.attlist



source.serial.entity.attlist =
    source.front-matter.serial.attlist,
    attribute id { xsd:ID }?
	
source.serial.collection.attlist =
    xml.attlist
